<ul class="list-unstyled">
    {% if site.email %}
    <li class="pb-2">
        <a class="text-decoration-none" href="mailto:{{ site.email }}">
            {% capture icon %}{% include icons/envelope-fill.svg %}{% endcapture %}
            <span class="text-secondary pe-2">{{ icon | strip }}</span>
            <span>{{ site.email }}</span>
        </a>
    </li>
    {% endif %}
    {% for footer_icon in site.footer_icons %}
    <li class="pb-2">
        <a rel="me" class="text-decoration-none" href="{{ footer_icon.url }}" target="_blank">
            {% if footer_icon.icon %}
            {% capture icon%}{% include icons/{{footer_icon.icon}}.svg %}{% endcapture %}
            <span class="text-secondary pe-2">{{ icon | strip }}</span>
            {% endif %}<span>{{ footer_icon.username }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
