[data-bs-theme="dark"] {
  color-scheme: dark;
  --github-w-color: #c9d1d9;
  --github-w-background-color: #161b22;
  --github-k-color: #ff7b72;
  --github-gr-color: #f0f6fc;
  --github-gd-color: #ffdcd7;
  --github-gd-background-color: #67060c;
  --github-nb-color: #ffa657;
  --github-nc-color: #ffa657;
  --github-no-color: #ffa657;
  --github-nn-color: #ffa657;
  --github-sr-color: #7ee787;
  --github-na-color: #7ee787;
  --github-nt-color: #7ee787;
  --github-gi-color: #aff5b4;
  --github-gi-background-color: #033a16;
  --github-kc-color: #79c0ff;
  --github-l-il-m-color: #79c0ff;
  --github-sb-color: #79c0ff;
  --github-bp-color: #79c0ff;
  --github-ne-color: #79c0ff;
  --github-nl-color: #79c0ff;
  --github-py-color: #79c0ff;
  --github-nv-v-color: #79c0ff;
  --github-o-color: #79c0ff;
  --github-gh-color: #1f6feb;
  --github-gu-color: #1f6feb;
  --github-s-color: #a5d6ff;
  --github-nd-color: #d2a8ff;
  --github-nf-fm-color: #d2a8ff;
  --github-err-color: #f0f6fc;
  --github-err-background-color: #8e1519;
  --github-c-color: #8b949e;
  --github-gl-color: #8b949e;
  --github-gt-color: #8b949e;
  --github-ni-color: #c9d1d9;
  --github-si-color: #c9d1d9;
  --github-ge-color: #c9d1d9;
  --github-gs-color: #c9d1d9;
}

