:root,
[data-bs-theme="light"] {
  --github-w-color: #24292f;
  --github-w-background-color: #f6f8fa;
  --github-k-color: #cf222e;
  --github-gr-color: #f6f8fa;
  --github-gd-color: #82071e;
  --github-gd-background-color: #ffebe9;
  --github-nb-color: #953800;
  --github-nc-color: #953800;
  --github-no-color: #953800;
  --github-nn-color: #953800;
  --github-sr-color: #116329;
  --github-na-color: #116329;
  --github-nt-color: #116329;
  --github-gi-color: #116329;
  --github-gi-background-color: #dafbe1;
  --github-kc-color: #0550ae;
  --github-l-il-m-color: #0550ae;
  --github-sb-color: #0550ae;
  --github-bp-color: #0550ae;
  --github-ne-color: #0550ae;
  --github-nl-color: #0550ae;
  --github-py-color: #0550ae;
  --github-nv-v-color: #0550ae;
  --github-o-color: #0550ae;
  --github-gh-color: #0550ae;
  --github-gu-color: #0550ae;
  --github-s-color: #0a3069;
  --github-nd-color: #8250df;
  --github-nf-fm-color: #8250df;
  --github-err-color: #f6f8fa;
  --github-err-background-color: #82071e;
  --github-c-color: #6e7781;
  --github-gl-color: #6e7781;
  --github-gt-color: #6e7781;
  --github-ni-color: #24292f;
  --github-si-color: #24292f;
  --github-ge-color: #24292f;
  --github-gs-color: #24292f;
}

