---
# Only the main Sass file needs front matter (the dashes are enough)
---

@use "sass:map";
@import "bootstrap";

html {
    --gayness: 0%;
}

blockquote {
  color: gray;
  border-left: 0.3rem solid lightgray;
  padding-left: 1rem;
}

.post-content > h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

.width-limit {
  max-width: 40rem;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
}

// Responsive borders (cuz Bootstrap is unwilling to support this)
@media(min-width: map.get($grid-breakpoints, "md")) {
  .border-none-md {
    border: none !important;
  }
}

#nav-menu {
  display: none;
}

@media(max-width: map.get($grid-breakpoints, "md")) {
  #nav-menu-container {
    position: absolute;
    top: 0;
    right: 1rem;
    background: var(--bs-body-bg);
  }
}

#nav-trigger:checked ~ #nav-menu {
  display: block;
}

.article {
    //transition: scale 0.3s ease-in-out;
}

.article:hover {
    //scale: 1.1;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0%;
    transition: all 0.3s ease-in-out;
    --b-opacity: 50%;
    background: linear-gradient(135deg, rgba(255,0,0,var(--b-opacity)) 0%, rgba(255,165,0,var(--b-opacity)) 20%, rgba(255,255,0,var(--b-opacity)) 40%, rgba(0,0,255,var(--b-opacity)) 60%, rgba(0,128,0,var(--b-opacity)) 80%, rgba(128,0,128,var(--b-opacity)) 100%);
}

.mask:hover {
    opacity: var(--gayness);
}

.hover-uppercase {
    // TODO: Why tf does this work???
    color: rgba(var(--bs-body-color-rgb),var(--head-transparency));
    --b-opacity: var(--gayness);
    background: linear-gradient(135deg, rgba(255,0,0,var(--b-opacity)) 0%, rgba(255,165,0,var(--b-opacity)) 20%, rgba(255,255,0,var(--b-opacity)) 40%, rgba(0,0,255,var(--b-opacity)) 60%, rgba(0,128,0,var(--b-opacity)) 80%, rgba(128,0,128,var(--b-opacity)) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    //transition: color 0.3s ease-in-out;
    display: inline-block;
}

.hover-uppercase:hover {
    text-transform: uppercase;
    //color: rgba(0,0,0,var(--straightness));
}

.gay {
    --b-opacity: var(--gayness);
    background: linear-gradient(135deg, rgba(255,0,0,var(--b-opacity)) 0%, rgba(255,165,0,var(--b-opacity)) 20%, rgba(255,255,0,var(--b-opacity)) 40%, rgba(0,0,255,var(--b-opacity)) 60%, rgba(0,128,0,var(--b-opacity)) 80%, rgba(128,0,128,var(--b-opacity)) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(var(--bs-body-color-rgb),var(--straightness));
}

// CSS for the dark mode toggle

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  //border-radius: 50px;
  border-radius: 1rem;
  transition: 0.3s;
  background-color: var(--bs-light);
}

.darkmode-toggle {
    display: none;
}

.darkmode-toggle:checked ~ .slider {
  //background-color: var(--bs-light);
  background-color: black;
}

.slider::before {
  content: "";
  position: absolute;
  //top: 13px;
  //left: 16px;
  //width: 75px;
  //height: 75px;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  //box-shadow: inset 28px -4px 0px 0px var(--bs-light);
  //box-shadow: inset 0.3rem -0.03rem 0px 0px var(--bs-light);
  //box-shadow: inset 0.3rem -0.03rem 0px 0px var(--bs-dark);
  box-shadow: none;
  //background-color: var(--bs-dark);
  background-color: var(--bs-dark);
  transition: 0.3s;
}

.darkmode-toggle:checked ~ .slider::before {
  //transform: translateX(95px);
  transform: translateX(3rem);
  //background-color: var(--bs-dark);
  background-color: black;
  //box-shadow: none;
  box-shadow: inset 0.3rem -0.03rem 0px 0px var(--bs-light);
}

.darkmode-label {
  position: absolute;
  width: 100%;
  //height: 100px;
  height: 2rem;
  //background-color: var(--bs-dark);
  //background-color: var(--bs-light);
  //border-radius: 50px;
  border-radius: 5rem;
  cursor: pointer;
}

.darkmode-label > .darkmode-toggle::checked {
  background-color: black;
}

.toggle-switch {
  position: relative;
  //width: 200px;
  width: 5rem;
  top: -1rem;
}
